# Grocery Tracker

Tracks grocery items and prices.

## Tech Stack

- Python
- FastAPI
- htmx
- SQLite
- SQLModel
- uv
- uvicorn
- pytest in `src/tests`

## Coding Style

- PEP8
- Type hints
- Docstrings
- minimal nested logic
- exit early for errors
- custom exceptions
- logging not print
- request object at API code, not business logic
- SQLModel acts as data layer
- Business logic in separate module

## Testing

- never mock
- simple tests
- prefer parameterized tests over duplicated code
- asserts include messages

## Entry Point

- build.py for all tasks
- `./build.py test` for tests
- main.py for application
